.mobile_btns_wrapper svg {
  font-size: 26px;
  color: var(--bg_primary);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .mobile_btns_wrapper {
    display: flex;
    align-items: center;
  }
  .mobile_btns_wrapper svg {
    font-size: 26px;
    color: var(--bg_primary);
    cursor: pointer;
  }
  .mobile_btns_wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile_btns_wrapper svg:hover {
    color: var(--color_lightblue);
  }
  #nav-icon {
    width: 28px;
    height: 17px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-bottom: 5px;
    /* margin-left: 10px; */
  }
  #nav-icon:hover > span {
    background-color: var(--color_lightblue);
  }
  #nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--bg_primary);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon span:nth-child(1) {
    top: 0px;
  }

  #nav-icon span:nth-child(2) {
    top: 8px;
  }

  #nav-icon span:nth-child(3) {
    top: 16px;
  }
  #nav-icon.open span:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon.open span:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}
