.header__wrapper {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__wrapper {
    height: 68px;
    width: 375px;
    justify-content: space-between;
    padding: 0 40px;
  }

  .mobile-avatar {
    width: 150px;
    height: 150px;
    display: block;
    order: 2;
    margin-bottom: 50px;
  }
  .mobile-avatar img {
    width: 150px;
    height: 150px;
  }
}

.header__logo-name {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--bg-primary);
  text-decoration: none;
}

.header .header__nav-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: inherit;
  transition: color 400ms ease;
}

/*nav*/
.header__nav {
  width: 293px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
  .header-button-wrapper {
    display: none;
  }
}

.btn {
  width: 100%;
  /* padding: 12px 30px; */
  height: 43px;
  border: 1px solid rgba(27, 27, 27, 0.4);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-sign_in {
  margin-right: 20px;
}
.btn-sign_in:hover {
  background-color: var(--bg_secondary);
  color: var(--bg_primary);
  border: none;
}
.btn-sign_up:hover {
  background-color: var(--bg_primary);
  color: var(--bg_secondary);
  border: none;
}
