.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  margin: 0 auto;
}
.nav {
  font-size: 26px;
  color: var(--bg_primary);
  opacity: 0.8;
}
.nav:hover {
  opacity: 1;
}
