.navbar {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  column-gap: 0.5rem;
  align-items: center;
  /* margin: 0 auto; */
}
.nav {
  font-size: 26px;
  color: var(--bg_primary);
  opacity: 0.8;
}
.nav:hover {
  opacity: 1;
}

.active-nav-item {
  color: var(--color_lightblue);
}
