.header__nav {
  width: 293px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__nav-item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: inherit;
  transition: color 400ms ease;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius:10px;
}
.header__nav-item:hover {
  color: #000;
  box-shadow: 0 0 10px #f38a00;
  /* border-bottom: 2px solid #f38a00; */
}
.is-active {
  color: #000;
  box-shadow: 0 0 10px #f38a00;
  /* border-bottom: 2px solid #f38a00; */
}
