.place_delete-wrapper button {
  width: 35%;
  padding: 10px 0;
  border: none;
  color: var(--bg_primary);
  font-family: var(--font_family_primary);
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s;
}
.place_delete-wrapper button:first-child {
  background-color: var(--color_green);
}
.place_delete-wrapper button:first-child:hover {
  box-shadow: 0 0 20px var(--color_green);
}
.place_delete-wrapper button:last-child {
  background-color: var(--color_danger);
}
.place_delete-wrapper button:last-child:hover {
  box-shadow: 0 0 20px var(--color_danger);
}

.photo_grid_view {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 0 20px;
}
.photo_grid_view-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
