.request-add {
  color: var(--color_green);
  opacity: 0.6;
  margin-right: 5px;
}
.request-remove {
  color: var(--color_danger);
  opacity: 0.8;
}
.btn-request-status {
  font-size: 20px;
}
.btn-request-status:hover {
  opacity: 1;
}

.request_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-bottom: 10px;
}
.user_friendlist_item-info {
  display: flex;
  align-items: center;
}
.request_item img {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  margin-right: 10px;
}

.request_item svg {
  cursor: pointer;
  border-radius: 100%;
}
.btn-request-wrapper {
  display: flex;
}
