.english-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.english-navbar {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.english-navbar .english-navbar-item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 40%;
  font-weight: 600;
  text-decoration: none;
  color: var(--bg_secondary);
  background-color: var(--bg_primary);
  border-radius: 15px;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}
.english-navbar .english-navbar-item:last-child {
  margin-top: 1rem;
}
.english-navbar .english-navbar-item:hover {
  color: var(--bg_primary);
  background-color: var(--bg_secondary);
}

/**/
.content-wrapper {
  width: 100%;
  margin: 30px 0;
  position: relative;
}
.content-wrapper h2 {
  margin: 0;
}
.content-wrapper .back-btn {
  position: absolute;
  font-size: 20px;
  top: 5px;
  left: 14%;
  width: 24px;
  height: 24px;
  color: var(--bg_primary);
  transition: all 0.2s;
}
.content-wrapper .back-btn:hover {
  border-radius: 100%;
  color: var(--bg_secondary);
}
