/*section-transactions*/
.section-transactions {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #1B1B1B;
    margin-bottom: 160px; }
    @media screen and (max-width: 767px) {
      .section-transactions {
        margin-bottom: 40px; } }
    .section-transactions__wrapper {
      width: 998px;
      height: 267px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 209px; }
      @media screen and (max-width: 767px) {
        .section-transactions__wrapper {
          width: 335px;
          height: 231px;
          flex-direction: column;
          align-items: flex-start;
          margin-left: 20px; } }
      @media screen and (max-width: 767px) {
        .section-transactions__wrapper img {
          width: 242px;
          height: 125px;
          order: -1; } }
      .section-transactions__wrapper-content {
        width: 435px;
        height: 194px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        @media screen and (max-width: 767px) {
          .section-transactions__wrapper-content {
            width: 335px;
            height: 81px; } }
      .section-transactions__wrapper-title {
        font-weight: 500;
        font-size: 48px;
        line-height: 120%;
        text-align: left;
        width: 382px;
        height: 116px; }
        @media screen and (max-width: 767px) {
          .section-transactions__wrapper-title {
            font-size: 24px;
            width: 335px; } }
      .section-transactions__wrapper-desc {
        font-size: 20px;
        line-height: 147.3%; }
        @media screen and (max-width: 767px) {
          .section-transactions__wrapper-desc {
            font-size: 14px;
            width: 335px; } }