/*section-comment*/
.section-comment {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #1B1B1B;
    height: 599px;
    background: #F7F9FB;}
    @media screen and (max-width: 767px) {
      .section-comment {
        height: 403px;
        width: 375px; } }
    .section-comment__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-top: 110px; }
      @media screen and (max-width: 767px) {
        .section-comment__wrapper {
          padding-top: 40px;
          height: 228px; } }
      .section-comment__wrapper-title {
        font-weight: 500;
        font-size: 48px;
        line-height: 120%;
        width: 650px; }
        @media screen and (max-width: 767px) {
          .section-comment__wrapper-title {
            font-size: 24px;
            width: 335px;
            text-align: left; } }
      .section-comment__wrapper-content {
        width: 1024px;
        height: 233px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 58px; }
        @media screen and (max-width: 767px) {
          .section-comment__wrapper-content {
            width: 335px;
            height: 229px;
            margin-top: 30px; } }
        .section-comment__wrapper-content img {
          cursor: pointer; }
          @media screen and (max-width: 767px) {
            .section-comment__wrapper-content img {
              display: none; } }
        .section-comment__wrapper-content-item {
          width: 678px;
          height: 233px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          text-align: left;
          background: #fff;
          display: flex;
          align-items: flex-start;
          position: relative;}
          @media screen and (max-width: 767px) {
            .section-comment__wrapper-content-item {
              width: 335px;
              height: 229px;
              justify-content: center;
              padding-top: 25px; } }
          .section-comment__wrapper-content-item-container {
            height: 162px;
            margin-left: 98px;
            margin-top: 32px;}
            @media screen and (max-width: 767px) {
              .section-comment__wrapper-content-item-container {
                margin-left: 0;
                margin-top: 0;
                height: 184px; } }
            .section-comment__wrapper-content-item img {
              position: absolute;
              top: 30px;
              left: 25px; }
              @media screen and (max-width: 767px) {
                .section-comment__wrapper-content-item img {
                  display: block;
                  top: 20px;
                  left: 20px; } }
          .section-comment__wrapper-content-item-name {
            font-weight: bold;
            font-size: 18px;
            line-height: 147.3%; }
            @media screen and (max-width: 767px) {
              .section-comment__wrapper-content-item-name {
                font-size: 16px;
                margin-left: 73px; } }
          .section-comment__wrapper-content-item-city {
            font-size: 14px;
            font-weight: 400;
            line-height: 147.3%;
            color: #636780;
            margin-bottom: 18px; }
            @media screen and (max-width: 767px) {
              .section-comment__wrapper-content-item-city {
                font-size: 12px;
                margin-left: 73px; } }
          .section-comment__wrapper-content-item-desc {
            width: 505px;
            height: 96px;
            font-size: 16px;
            line-height: 147.3%;
            text-align: justify; }
            @media screen and (max-width: 767px) {
              .section-comment__wrapper-content-item-desc {
                width: 295px;
                height: 126px;
                font-size: 14px;
                text-align: left; } }
      .section-comment__wrapper-dots {
        width: 58px;
        height: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        cursor: pointer; }
        .section-comment__wrapper-dots-item {
          height: 6px;
          width: 6px;
          background-color: #3F3D56;
          border-radius: 50%;
          opacity: 0.4; }
        .section-comment__wrapper-dots .active {
          width: 10px;
          height: 10px;
          opacity: 1; }