/**/
.photo-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
/* @media screen and (max-width: 767px) {
  .photo-wrapper {
  }
} */

.photo-wrapper-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
@media screen and (max-width: 767px) {
  .photo-wrapper-head {
    width: 375px;
  }
  .form__container-content-wrapper {
    position: relative;
    width: 375px;
  }
}

.form__container-head-desc {
  font-size: 24px;
  line-height: 147.3%;
  color: #1b1b1b;
}
@media screen and (max-width: 767px) {
  .form__container-head-desc {
    font-size: 16px;
  }
}

.form__container-backArrow {
  width: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 211px;
  top: 7px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 147.3%;
  color: #508e87;
}
@media screen and (max-width: 767px) {
  .form__container-backArrow {
    left: 20px;
    top: 7px;
  }
}
.form__container-backArrow .fa {
  color: #61a199;
}

.photo-input_wrapper {
  width: 431px;
  height: 321px;
  background: #f7f7f8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 75px 0;
  border-radius: 10px;
}

.photo-wrapper img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.image-upload-wrapper {
  width: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.image-upload-wrapper .photo-input_wrapper {
  width: 200px;
  height: 200px;
  margin: 0;
  border-radius: 100%;
}
.image-upload-wrapper .img_icon-wrapper {
  top: 80px;
  left: 80px;
  cursor: pointer;
}
.image-upload__wrapper {
  cursor: pointer;
}

.image-upload__wrapper .image-upload-preview {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.image-upload__wrapper .filter {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  position: absolute;
  top: 0;
  left: 0;
}
