.friends_container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.friend-card {
  width: 80%;
  display: flex;
  align-items: center;
}

.friend-card-info {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  font-family: var(--font_family_primary);
  font-size: 16px;
  color: var(--bg_primary);
  font-weight: bold;
}
.friend-card-info img {
  height: 50px;
  object-fit: contain;
  margin-right: 15px;
}

.friends_container .fa-spin {
  color: var(--bg_primary);
}
@media screen and (max-width: 767px) {
}
