.header__btn-send-email {
  height: 51px;
  background: var(--bg_primary);
  cursor: pointer;
}
.header__btn-send-email:hover {
  background: var(--bg_secondary);
  color: var(--bg_primary);
}
.header__btn-send-email:disabled {
  background: var(--bg_disabled);
  color: var(--color_disabled);
}
