.usercard-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: var(--font_family_primary);
  font-weight: normal;
}
.user-header {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.user-header_info {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.user-header_info p,
.user-header_info a {
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  color: var(--bg_primary);
}
.user-header_info span {
  color: var(--bg_disabled);
}
.user-header_info p {
  margin: 0 15px;
  cursor: pointer;
}
.user-header-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  grid-row: 1 / span 2;
}
.user-header-image h4 {
  text-align: center;
  margin-top: 5px;
}
.user-header img {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.usercard_friends_status {
  padding: 5px;
  border-radius: 10px;
  text-align: left;
  margin-top: 4px;
  font-size: 10px;
  color: var(--color_white);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.usercard_friends_status:hover {
  background-color: var(--btn_bg_color_hover);
}
.friend {
  background-color: var(--btn_bg_color);
}
.not-friend {
  border: 1px solid var(--btn_bg_color);
  color: var(--bg_primary);
}
.not-friend:hover {
  color: #fff;
}

.usercard_friends_status-question {
  font-size: 8px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.usercard_friends_status svg {
  margin-right: 2px;
}

.user_friendlist_container {
  background-color: var(--color_dark_white);
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  overflow-y: scroll;
  font-family: var(--font_family_primary);
  font-weight: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}
.user_friendlist_container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
.user_friendlist_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #3c66ff;
}
.user_friendlist_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 10px;
}
.user_friendlist_item-info {
  display: flex;
  align-items: center;
}
.user_friendlist_item img {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  margin-right: 10px;
}
.user_friendlist_item-delete {
  width: 10px;
  height: 11px;
  border-radius: 100%;
  background-color: transparent;
}
.user_friendlist_item-delete:hover {
  box-shadow: 0 0 20px red;
}
.user_friendlist_item svg {
  cursor: pointer;
}

.motto_wrapper {
  grid-column-start: 2;
  font-style: italic;
  /* padding-top: 5px; */
  font-size: 12px;
  text-align: center;
  position: relative;
  width: 200px;
  text-align: left;
  padding: 0 5px;
  height: 50px;
  margin-top: 10px;
  border: 1px dotted transparent;
}
.motto_wrapper p {
  height: 100%;
  line-height: 16px;
}

.motto_input {
  background-color: transparent;
  width: 200px;
  border: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: none;
  padding: 0 5px;
  margin: 0;
  font-size: 12px;
  color: transparent;
}
.motto_input:focus {
  background-color: transparent;
  color: transparent;
}
/* .motto_input:focus + p {
  border: 1px dotted var(--bg_primary);
} */

.usercard-btns-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-top: 10px;
}
