.available-wrapper-renter {
  height: 500px;
  width: 1026px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  left: -20px;
}
.calendar-month-names {
  display: flex;
  height: 29px;
  width: 740px;
  text-align: left;
  margin-bottom: 26px;
}
#calendar-item-renter {
  width: 404px;
  height: 320px;
  position: relative;
}
#calendar-item-renter .react-calendar__viewContainer {
  width: 941px;
  display: flex;
  justify-content: space-between;
}
#calendar-item-renter .react-calendar__month-view {
  width: 404px;
  height: 320px;
  overflow: hidden;
}

.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
}

#calendar-item-renter button {
  margin: 0;
  border: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#calendar-item-renter .react-calendar__month-view__weekdays__weekday {
  opacity: 0.4;
  padding-bottom: 15px;
}
#calendar-item-renter
  .react-calendar__month-view__weekNumbers
  .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
#calendar-item-renter .react-calendar__tile {
  padding: 18px;
  background: none;
  text-align: center;
  line-height: 147.3%;
}
#calendar-item-renter.react-calendar__tile:disabled {
  background-color: rgba(97, 161, 153, 0.2);
}
#calendar-item-renter.react-calendar__tile:enabled:hover,
#calendar-item-renter.react-calendar__tile:enabled:focus {
  background-color: rgba(97, 161, 153, 0.2);
}
#calendar-item-renter.react-calendar__tile--now {
  background: #61a199;
  color: #fff;
}
#calendar-item-renter.react-calendar__tile--now:enabled:hover,
#calendar-item-renter.react-calendar__tile--now:enabled:focus {
  background: rgba(97, 161, 153, 0.2);
}
#calendar-item-renter.react-calendar__tile--hasActive {
  background: rgba(97, 161, 153, 0.2);
}
#calendar-item-renter.react-calendar__tile--hasActive:enabled:hover,
#calendar-item-renter.react-calendar__tile--hasActive:enabled:focus {
  background: rgba(97, 161, 153, 0.2);
}

#calendar-item-renter.react-calendar__tile--active:enabled:hover,
#calendar-item-renter.react-calendar__tile--active:enabled:focus {
  background: rgba(97, 161, 153, 0.2);
}
#calendar-item-renter
  .react-calendar--selectRange
  .react-calendar__tile--hover {
  background-color: rgba(97, 161, 153, 0.2);
}
#calendar-item-renter .react-calendar__tile--hasActive {
  background: rgba(64, 102, 98, 0.2);
}

#calendar-item-renter .react-calendar__tile--range {
  background: rgba(97, 161, 153, 0.2);
  color: #000;
  border-radius: 0;
  position: relative;
}
#calendar-item-renter .react-calendar__tile--rangeStart {
  border-radius: 50%;
  background: #61a199;
  color: #fff;
  position: relative;
}

#calendar-item-renter .react-calendar__tile--rangeEnd {
  border-radius: 50%;
  background: #61a199;
  color: #fff;
}
#calendar-item-renter .disabled {
  background: none;
  opacity: 0.2;
}
#calendar-item-renter .highlight {
  border-radius: 0;
  background: rgba(97, 161, 153, 0.2);
  color: #000;
}

.passed {
  text-decoration: line-through;
  color: #000000;
  opacity: 0.2;
}

.btn-rentcar {
  width: 171px;
  height: 51px;
  background: #61a199;
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  .available-wrapper-renter {
    height: 770px;
    width: 375px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    left: -20px;
  }
  .calendar-month-names {
    display: flex;
    height: 29px;
    width: 740px;
    text-align: left;
    margin-bottom: 26px;
  }
  #calendar-item-renter .react-calendar__viewContainer {
    width: 375px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #calendar-item-renter .react-calendar__month-view {
    width: 337px;
    height: 297px;
    overflow: hidden;
  }
  #calendar-item-renter .react-calendar__tile {
    padding: 14px;
    text-align: center;
    line-height: 147.3%;
  }
  .title-calender:last-child {
    position: absolute;
    top: 350px;
    left: -415px;
  }
}
