.usercars-container {
  width: 1440px;
  /* height: 690px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 170px;
}
.usercars-content {
  width: 625px;
  height: 537px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 102px;
}
.usercars-content-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  margin: 60px 0 25px 0;
}
.usercars-content-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 147.3%;
}
.btn-add-car-wrapper {
  width: 1440px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #E5E5E5;
}
.btn-add-car {
  width: 250px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usercars-content-title-mobile {
  display: none;
}
.loading-wrapper {
  width: 1440px;
  height: 816px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-wrapper .fa-circle-o-notch {
  color: #61A199;
  font-size: 54px;
}
@media screen and (max-width: 767px) {
  .usercars-container {
    width: 375px;
    /* height: 1000px; */
    margin-top: 140px;
    justify-content: flex-start;
  }
  .usercars-content {
    width: 335px;
    height: 383px;
    margin-bottom: 70px;
  }
  .usercars-content img {
    width: 263px;
    height: 202px;
  }
  .usercars-content-title {
    display: none;
  }
  .usercars-content-title-mobile {
    display: block;
    font-weight: 500;
    line-height: 120%;
    font-size: 32px;
    margin: 42px 0 15px 0;
  }
  .usercars-content-subtitle {
    font-size: 16px;
  }
  .btn-add-car-wrapper {
    width: 375px;
  }
  .loading-wrapper {
    width: 375px;
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .loading-wrapper .fa-circle-o-notch {
    font-size:34px;
    color:  #61A199;;
  }
}
