:root {
  --bg_primary: #252d4a;
  --bg_secondary: #ffb01e;
  --color_white: #fff;
  --color_danger: #fd0202;
  --color_green: #48ff00;
  --color_pink: #ffa4a4;
  --color_lightblue: #00d3d3;
  --bg_disabled: #bdbdbd;
  --color_disabled: #eeeeee;
  --color_dark_white:#efefef;
  --font_family_primary: "Roboto", sans-serif;

  --border-radius_15: 15px;
  --box-shadow: 5px 5px 20px var(--bg_primary);
}

/* generic*/
.is-animated {
  transition: all 400ms ease;
}

/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6feff;
}
/*common*/
.content_wrapper {
  width: 100%;
  text-align: center;
}


h2 {
  font-family: var(--font_family_primary);
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #1b1b1b;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}

/* .page-title {
  font-family: var(--font_family_primary);
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: var(--bg_primary);
  margin-bottom: 20px;
} */

.page-title {
  display: flex;
  justify-content: center;
  list-style-type: none;
  display: flex;
  gap: 10px;
  font-family: var(--font_family_primary);
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

/* <!-- Using the custom property `--i` to calculate the animation duration. --> */
.page-title li {
  animation-name: gradient;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    color: var(--color_pink);
    text-shadow: 5px 5px 5px var(--color_pink);
  }
  20% {
    color: var(--color_lightblue);
    text-shadow: 5px 5px 5px var(--color_lightblue);
  }
  40% {
    color: var(--color_green);
    text-shadow: 5px 5px 5px var(--color_green);
  }
  60% {
    color: var(--bg_secondary);
    text-shadow: 5px 5px 5px var(--bg_secondary);
  }
  80% {
    color: var(--color_danger);
    text-shadow: 5px 5px 5px var(--color_danger);
  }
  100% {
    color: var(--bg_primary);
    text-shadow: 5px 5px 5px var(--bg_primary);
  }
}
