.userCars-container {
  width: 1440px;
  padding: 0 200px;
  margin-bottom: 127px;
}
.userCars-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  color: #1b1b1b;
  margin-bottom: 80px;
}


@media screen and (max-width: 767px) {
  .userCars-container {
    width: 375px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 44px;
  }
  .userCars-title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 40px;
  }
}
