.input_city-wrapper {
  position: relative;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 8px 0 0 8px;
}
.input_city {
  width: 329px;
  height: 42px;
  border: none;
  border-radius: 8px 0 0 8px;
  padding-top: 14px;
  cursor: pointer;
}
.input_city-placeholder {
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #828282;
  position: absolute;
  top: 8px;
  left: 12px;
  cursor: pointer;
  height: 8px;
  width: 100px;
}

.droplist-city-wrapper {
  width: 329px;
  height: 262px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: absolute;
  top: 44px;
  background: #fff;
  overflow: hidden;
  padding: 18px 0 24px 0;
  z-index: 99;
}

.droplist-city-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 329px;
  height: 58px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  padding-left: 20px;
  cursor: pointer;
}
.droplist-city-item:hover {
  background: #ecf4f3;
}

.droplist-city-item-name {
  font-size: 14px;
  line-height: 16px;
  color: #1b1b1b;
  pointer-events: none;
}

.droplist-city-item-name-holder {
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #828282;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .input_city-wrapper {
    border-radius: 8px;
  }
  .city_input {
    margin-top: 0;
    width: 333px;
    border-radius: 8px;
  }
  .droplist-city-wrapper {
    width: 335px;
    left: -1px;
  }

}
