.usermain-container {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.usermain-title {
  font-size: 2rem;
  color: var(--bg_primary);
}
.usermain-container .loading-wrapper {
  margin-top: 100px;
}
.usermain-container .fa-spin {
  color: var(--bg_primary);
}
